[Unit]
Description=Kubernetes Kubelet
Documentation=https://kubernetes.io/docs/home/
After=network.target

[Service]
ExecStart=/usr/bin/kubelet \
  --config=/var/lib/kubelet/config.yaml \
  --kubeconfig=/etc/kubernetes/kubelet.kubeconfig \
  --tls-cert-file=/etc/kubernetes/pki/kubelet.crt \
  --tls-private-key-file=/etc/kubernetes/pki/kubelet.key \
  --container-runtime-endpoint=unix:///run/crio/crio.sock \
  --pod-infra-container-image=k8s.gcr.io/pause:3.9 \
  --fail-swap-on=false \
  --read-only-port=0 \
  --protect-kernel-defaults=true \
  --rotate-server-certificates
Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target
